<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Product Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
<!-- 페이지 내용들... -->
<form th:action="@{/product/register}" th:method="post">
    <!-- 로그인한 사용자의 이메일을 히든 필드로 추가 -->
    <input type="hidden" name="email" th:value="${#authentication.principal.email}" />

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Title">
    </div>

    <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" name="price" placeholder="Enter Price (e.g., 1000)" pattern="\d+(\.\d{2})?" title="Please enter a valid price">
        </div>
    </div>

    <div class="form-group">
        <label>Rental Start Date</label>
        <input type="datetime-local" class="form-control" name="rentalStartDate">
    </div>

    <div class="form-group">
        <label>Rental End Date</label>
        <input type="datetime-local" class="form-control" name="rentalEndDate">
    </div>

    <div class="form-group">
        <label>Is Available</label>
        <select class="form-control" name="isAvailable">
            <option value="true" selected>Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div class="form-group fileForm">
        <label>Image Files</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input files" id="fileInput" multiple>
            <label class="custom-file-label" data-browse="Browse"></label>
        </div>
    </div>

    <div class="box"></div>

    <div class="uploadResult">
        <ul></ul>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- JavaScript 로드 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $j = jQuery.noConflict();

    $j(document).ready(function () {
        console.log("Document is ready!");  // 확인용 로그

        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        var maxSize = 10485760; //10MB

        function checkExtension(fileName, fileSize) {
            if (fileSize >= maxSize) {
                alert("파일 사이즈 초과");
                return false;
            }

            if (regex.test(fileName)) {
                alert("해당 종류의 파일은 업로드할 수 없습니다.");
                return false;
            }
            return true;
        }

        $j(".custom-file-input").on("change", function () {
            var fileName = $j(this).val().split("\\").pop();
            $j(this).siblings(".custom-file-label").addClass("selected").text(fileName);
            var formData = new FormData();

            var inputFile = $j(this);
            var files = inputFile[0].files;
            var appended = false;

            for (var i = 0; i < files.length; i++) {
                if (!checkExtension(files[i].name, files[i].size)) {
                    return false;
                }
                formData.append("uploadFiles", files[i]);
                appended = true;
            }

            if (!appended) {
                return;
            }

            $j.ajax({
                url: '/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    console.log("Upload success:", result);  // 확인용 로그
                    showResult(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Upload failed:", textStatus, errorThrown);
                }
            });
        });

        function showResult(uploadResultArr) {
            var uploadUL = $j(".uploadResult ul");
            var str = "";

            $j(uploadResultArr).each(function (i, obj) {
                str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                str += " <div>";
                str += "<button type='button' data-file='" + obj.imageURL + "' class='btn-warning btn-sm'>X</button><br>";
                str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                str += "</div>";
                str += "</li>";
            });

            uploadUL.append(str);
        }

        $j(".uploadResult").on("click", "li button", function (e) {
            var targetFile = $j(this).data("file");
            var targetLi = $j(this).closest("li");

            $j.ajax({
                url: '/removeFile',
                data: { fileName: targetFile },
                dataType: 'text',
                type: 'POST',
                success: function (result) {
                    alert(result);
                    targetLi.remove();
                }
            });
        });

        $j(".btn-primary").on("click", function (e) {
            e.preventDefault();

            var str = "";
            $j(".uploadResult li").each(function (i, obj) {
                var target = $j(obj);
                str += "<input type='hidden' name='imageDTOList[" + i + "].imgName' value='" + target.data('name') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='" + target.data('path') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";
            });

            $j(".box").html(str);
            $j("form").submit();
        });
    });
</script>
</body>

</html>